.left-right-container{
    width: 100%;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.left-right-box-card{
    width: 90%;
    margin: 10% 5%;
    float: left;
}

.user-card-details{
    width: 80%;
    padding: 5% 10%;
}

.user-card-details img{
    width: 50%;
    border-radius: 50%;
}
.user-card-details h3, p{
    color: rgb(8, 8, 131);
    margin: 1% 0%;
}

.friend-card-details{
    width: 90%;
    margin: 0 5%;
}

.friend-card-details h3{
    color: rgb(5, 5, 168);
    margin: 5% 0% 0%;
    border: 0.5px solid blue;
    border-bottom: 0;
    padding: 1% 2%;
}
.friend-card-details p{
    background-color: rgb(251, 230, 247);
    padding: 1% 2%;
    border-radius: 10px;
    margin: 2% 0%; 
}

.friend-card-details button{
    color: blue;
    border: none;
    padding: 1% 2% 1% 2.5%;
    margin: 0%;
    border-radius: 50%;
    border: 0.5px solid rgb(198, 198, 249);
}

.friend-button-Style{
    background-color: rgb(229, 249, 215);
    color: rgb(0, 0, 255);
}
.pending-button-Style{
    background-color: rgb(144, 255, 127);
    color: rgb(0, 0, 255);
}
.user-button-Style{
    background-color: rgb(228, 243, 249);
    color: rgb(104, 104, 252);
    /* color: rgb(255, 168, 168) */
}

@media screen and (max-width:750px) {
    .left-right-container{
        width: 100%;
        height: auto;
        max-height: 500px;
        overflow: auto;
        border-radius: 30px;
    }
    
    .left-right-box-card{
        width: 90%;
        margin: 5% 5% 2%;
        float: left;
    }
    
    .user-card-details{
        width: 80%;
        padding: 5% 10%;
    }
    
    .user-card-details img{
        width: 50%;
        margin: 0% 25%;
        border-radius: 50%;
    }
    .user-card-details h3{
        margin: 0% 0% 2%;
        font-size: 4vw;
    }
    .user-card-details hr{
        margin: 0% 0% -2%;
    }
    .user-card-details p{
        margin: 0% 0% 3%;
        font-size: 2.5vw;
    }
    
    .friend-card-details{
        width: 90%;
        margin: 0% 5%;
    }
    .friend-card-details h3{
        font-size: 4vw;
    }
    .friend-card-details p, button{
        font-size: 3vw;
    }
}

@media screen and (min-width:751px) {
    .left-right-container{
        width: 90%;
        height: 300px;
        margin: 0% 5%;
        overflow: auto;
        border-radius: 30px;

    }
    
    .left-right-box-card{
        width: 100%;
        margin: 5% 0% 2%;
        float: left;
    }
    
    .user-card-details{
        width: 80%;
        padding: 5% 10%;
    }
    
    .user-card-details img{
        width: 70%;
        margin: 0% 15%;
        border-radius: 50%;
    }
    .user-card-details h3{
        margin: 0% 0% 2%;
        font-size: 0.8em;
    }
    .user-card-details hr{
        margin: 0% 0% -2%;
    }
    .user-card-details p{
        margin: 0% 0% 3%;
        font-size: 0.7em;
    }
    
    .friend-card-details{
        width: 90%;
        margin: 0% 5%;
    }
    .friend-card-details h3{
        font-size: 0.8em;
        margin: 10% 0% 0%;
    }
    .friend-card-details p{
        font-size: 0.7em;
    }
}

@media screen and (min-width:900px) {
    .left-right-container{
        width: 90%;
        height: 350px;
        margin: 0% 5%;
        overflow: auto;
        border-radius: 30px;

    }
    
    .left-right-box-card{
        width: 90%;
        margin: 5% 5% 2%;
        float: left;
    }
    
    .user-card-details{
        width: 80%;
        padding: 5% 10%;
    }
    
    .user-card-details img{
        width: 50%;
        margin: 0% 25%;
        border-radius: 50%;
    }
    .user-card-details h3{
        margin: 0% 0% 2%;
        font-size: 1em;
    }
    .user-card-details hr{
        margin: 0% 0% -2%;
    }
    .user-card-details p{
        margin: 0% 0% 3%;
        font-size: 0.7em;
    }
    
    .friend-card-details{
        width: 80%;
        margin: 0% 10%;
    }
    .friend-card-details p{
        font-size: 0.6em;
        background-color: rgb(251, 230, 247);
        padding: 1% 2%;
        border-radius: 10px;
        margin: 2% 0%; 
    }
    .friend-card-details button{
        font-size: 0.9em;
    }
}

@media screen and (min-width:1200px) {
    .left-right-container{
        width: 80%;
        height: 400px;
        margin: 0% 10%;
        overflow: auto;
        border-radius: 30px;

    }
    
    .left-right-box-card{
        width: 90%;
        margin: 5% 5% 2%;
        float: left;
    }
    
    .user-card-details{
        width: 80%;
        padding: 5% 10%;
    }
    
    .user-card-details img{
        width: 50%;
        margin: 0% 25%;
        border-radius: 50%;
    }
    .user-card-details h3{
        margin: 0% 0% 2%;
        font-size: 1.2em;
    }
    .user-card-details hr{
        margin: 0% 0% -2%;
    }
    .user-card-details p{
        margin: 0% 0% 3%;
        font-size: 1em;
    }
    
    .friend-card-details{
        width: 90%;
        margin: 0% 5%;
    }
    .friend-card-details h3{
        font-size: 1.2em;
        margin: 10% 0% 0%;
    }
    .friend-card-details p{
        font-size: 1em;
    }
}