.header-container{
    background-color: rgb(4, 8, 58);
    background-image: linear-gradient(to right, rgb(4, 9, 79), rgb(6, 14, 126));
    color: #ffffff;
    display: flex;
    height: auto;
    overflow: auto;
}
.header-left-content{
    width: 50%;
}
.header-right-content{
    width: 40%;
    display: flex;
}

.header-container a{
    text-decoration: none;
    color: white;
}
.header-left-content a:hover{
  text-decoration: none;
  color: rgb(255, 0, 0);
}
.header-right-content a:hover{
    color: yellow;
}


@media screen and (max-width:750px) {
  .header-left-content{
    padding: 0.5% 0% 0.5% 10%;
  }
  .header-left-content h1{
    font-size: 1em;;
    margin: 0.4% 0% 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header-right-content{
      padding: 0.5% 0% 0.5% 0%;
  }
  .header-right-content h1{
    font-size: 1em;;
    padding: 0% 5% 0% 0%;
    margin: 1% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width:751px) {
  .header-left-content{
    padding: 0.5% 0% 0.5% 10%;
  }
  .header-left-content h1{
    font-size: 1.2em;;
    margin: 0.4% 0% 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header-right-content{
      padding: 0.5% 0% 0.5% 0%;
  }
  .header-right-content h1{
    font-size: 1.2em;;
    padding: 0% 5% 0% 0%;
    margin: 1% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (min-width:900px) {
  .header-left-content{
    padding: 0.5% 0% 0.5% 10%;
  }
  .header-left-content h1{
    font-size: 1.3em;;
    margin: 0.4% 0% 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header-right-content{
      padding: 0.5% 0% 0.5% 0%;
  }
  .header-right-content h1{
    font-size: 1.3em;;
    padding: 0% 5% 0% 0%;
    margin: 1% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (min-width:1200px) {
  .header-left-content{
    padding: 0.5% 0% 0.5% 10%;
  }
  .header-left-content h1{
    font-size: 1.5em;;
    margin: 0.4% 0% 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header-right-content{
      padding: 0.5% 0% 0.5% 0%;
  }
  .header-right-content h1{
    font-size: 1.5em;;
    padding: 0% 5% 0% 0%;
    margin: 1% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}